.carousel-background {
  background:linear-gradient(to bottom,rgba(0,0,0,.4),rgba(0,0,0,.4)),url('https://1cup.kr/imgs/bgs.jpg');
  width: 100%;
}

.carousel-header-text {
  text-align: center;
  color: white;
  font-size: 35px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.carousel-background .col {
  text-align: center;
}

@media screen and (min-width: 769px) {
  .carousel-background .img-box {
    box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, .8);
    vertical-align: middle;

      margin-top: 15px;
      width: 95%;
      border-radius: 30px;
  }

  .carousel-background .carousel-header {
    height: 35vh;
    max-height: 330px;
  }
}

@media screen and (max-width: 768px) {
  .carousel-background .img-box {
    margin-top: 5px;
    width: 95%;
    border-radius: 10px;
  }
  .carousel-background .carousel-header {
    height: 25vh;
    max-height: 330px;
  }
}

.carousel-background .img-caption {
  margin-top:10px;
  font-size:14px;
  color:white;
}